<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= common_link_to 'Dashboard', 'javascript:;', icon: :dashboard, btn: true, style: :primary, class: 'btn-xl'  %>

	<ul>
		<%= common_link_to 'Produts', '#', icon: :cubes, 	menu: :products  %>
		<%= common_link_to 'Orders', 	'#', icon: :star, 	menu: :orders  %>
		
		<li>
        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="demo" class="collapse">
            <li>
                <a href="#">Dropdown Item</a>
            </li>
            <li>
                <a href="#">Dropdown Item</a>
            </li>
        </ul>
    </li>
		
	</ul>
